<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %><!-- 这里的field_tag名字必须和model里的column名一样，这样在controller里创建model object的时候才能对应起来-->
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>